body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#imagesDiv {
    background-color: gray;
}
#favDiv h1 {
    color: hotpink;
}
a:hover { background-color: khaki;}
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#myClasses h1 {
    background-color: lightblue;
}

img {
    border-radius: 50%;
}

footer {
    border-top: 2px solid #000;
}
